<div class="container">
  <div class="container border-5 border-start pt-3 pb-1 my-3 align-middle">
    <p><%=@ask%></p>
    <p><em>- You</em></p>
  </div>
  <div class="container bg-warning  border-5 border-start pt-3 pb-1 my-3 bg-opacity-10 my-3">
    <p><%=@answer%></p>
    <p><em>- Your Coach</em></p>
  </div>
<%= link_to "Ask new question", ask_path %>
