 <p>Ask your coach anything:<p>
<form class="input-group " action="/answer" data-turbo="false">
  <input class="border border-1 rounded-start col-11" type="text" name="ask">
  <input class="btn btn-primary rounded-end col-1" type="submit" value="Ask!">
</form>
